// COMPONENTS
    
.menu
    @media (max-width: 900px)
            display: none
    &__burger
        @media (max-width: 900px)
            display: block
    &__list
        @media (max-width: 1000px)
            padding: 5.4rem 2.4rem 5.4rem 0
        &__link
            
//    IMG             // 
.logo
    @media (max-width: 1332px)
        padding: 4rem 12rem 4rem 7.3rem
    @media (max-width: 1224px)
        padding: 4rem 2rem 4rem 1.3rem
  
// BUTTONS
.reg1
    @media (max-width: 1224px)
        margin: 4.2rem 2.3rem 4.2rem 0
        width: 8rem
        font-size: 1.2rem
    @media (max-width: 900px)
        display: none
.lang
    @media (max-width: 1000px)
        padding: 5.4rem 2rem 5.4rem 0
    @media (max-width: 900px)
        display: none
        
