.header
    box-sizing: border-box
    height: 13.2rem
    display: flex

.first-section
    display: grid
    grid-template-columns: 51% 49%
    grid-template-rows: 1fr
    border-bottom: $border
    height: 62rem
    &__text-box
        margin: 5.3rem 2rem 12rem 9.3rem
    &__l
        position: relative  
    &__r
        position: relative  

.about   
    display: grid
    grid-template-columns: 26% 25% 21% 28% 
    grid-template-rows: 30rem 45rem 20rem
    grid-auto-columns: 1fr
    gap: 0px 0px
    grid-auto-flow: row
    position: relative
    


.about_box1  
    grid-area: 1 / 1 / 2 / 3
    display: grid
    align-items: end
    justify-items: end
    padding: 0 3rem 7rem 0
    border-right: $border
    border-bottom: $border
    box-sizing: border-box
    

.about_box2  
    grid-area: 1 / 3 / 2 / 5
    border-bottom: $border
    display: grid
    align-items: end
    justify-items: start
    padding: 0 3rem 7rem 0
    box-sizing: border-box
    & p
        @include text
        color: $text1-color
        width: 70%


.about_box3  
    grid-area: 2 / 1 / 3 / 3
    display: grid
    box-sizing: border-box
    align-items: end
    justify-items: end
    padding: 0 6rem 9rem 0
    border-right: $border
    border-bottom: $border
    

.about_box4  
    grid-area: 2 / 3 / 3 / 4
    display: grid
    box-sizing: border-box
    align-items: end
    justify-items: start
    padding: 4rem 2rem 18rem 0
    border-right: $border
    border-bottom: $border
    color: $text1-color
    @include text
    
    

.about_box5  
    grid-area: 2 / 4 / 3 / 5
    display: grid
    box-sizing: border-box
    align-items: end
    justify-items: end
    border-bottom: $border
    color: $text1-color
    padding: 0 6rem 13rem 3rem
    @include text
    
.about_box6  
    grid-area: 3 / 1 / 4 / 3
    display: grid
    box-sizing: border-box
    align-items: center
    justify-items: end
    border-bottom: $border
    border-right: $border
    color: $text3-color
    padding: 0rem 10rem 5rem 0
    & h3
        @include h2-text
        line-height: 4rem
        font-weight: 400
        & span
            font-size: 1.6rem
            font-family: "Open Sans"
            line-height: 0

.about_box7  
    grid-area: 3 / 3 / 4 / 4
    display: grid
    box-sizing: border-box
    align-items: end
    justify-items: start
    border-bottom: $border
    border-right: $border
    color: $text3-color
    padding: 0rem 0rem 5rem 0
    & h3
        @include h2-text
        line-height: 4rem
        font-weight: 400
        & span
            font-size: 1.6rem
            font-family: "Open Sans"
            line-height: 0
            
    

.about_box8  
    grid-area: 3 / 4 / 4 / 5
    display: grid
    box-sizing: border-box
    align-items: end
    justify-items: start
    border-bottom: $border
    color: $text3-color
    padding: 0rem 10rem 5rem 1rem
    & h3
        @include h2-text
        line-height: 4rem
        font-weight: 400
        & span
            font-size: 1.6rem
            font-family: "Open Sans"
            line-height: 0
    
