@font-face {
  font-family: 'Ashley';
  src: url("../fonts/AshleyCapitaliSofia.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* line 7, E:/pottery/sass/_text.sass */
.main-title {
  font-family: "Ashley";
  font-size: 6rem;
  padding: 5.3rem 2rem 9.2px 0;
}

/* line 12, E:/pottery/sass/_text.sass */
.title-h2 {
  box-sizing: border-box;
  font-family: "Ashley";
  font-size: 4.8rem;
  text-align: right;
  font-weight: normal;
  margin: 0;
  padding: 12rem 2rem 9rem 0;
}

/* line 21, E:/pottery/sass/_text.sass */
.advantage-h2 {
  padding: 14rem 0 0 4rem;
  text-align-last: left;
}

/* line 24, E:/pottery/sass/_text.sass */
.third__day1-h2 {
  box-sizing: border-box;
  font-family: "Ashley";
  font-size: 4.8rem;
  font-weight: normal;
  height: 100%;
  padding: 12rem 0rem 0 4rem;
}

/* line 32, E:/pottery/sass/_text.sass */
.whom-h2 {
  text-align-last: left;
  padding: 8rem 0rem;
}

/* line 36, E:/pottery/sass/_text.sass */
.h3-title {
  font-size: 3rem;
  font-family: "Ashley";
  font-weight: normal;
}

/* line 41, E:/pottery/sass/_text.sass */
.span-fw-700 {
  font-weight: 700;
}

/* line 44, E:/pottery/sass/_text.sass */
.about__bottom span {
  font-size: 4.8rem;
  font-family: 'Ashley';
}

/* line 50, E:/pottery/sass/_text.sass */
.main-p {
  font-size: 1.6rem;
}

/* line 52, E:/pottery/sass/_text.sass */
.about-p {
  margin: 13rem 9rem 0 0;
  height: 10rem;
}

/* line 55, E:/pottery/sass/_text.sass */
.about-p2 {
  margin: 8rem 4rem  4rem 0rem;
}

/* line 58, E:/pottery/sass/_text.sass */
.about-p3 {
  margin: 0rem 9rem  0rem 0rem;
}

/* line 60, E:/pottery/sass/_text.sass */
.about-p4 {
  margin: 26rem 0rem  0rem 1rem;
  width: 70%;
}

/* line 63, E:/pottery/sass/_text.sass */
.social-paragrahp {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: medium;
  margin-bottom: 2rem;
}

/* line 70, E:/pottery/sass/_text.sass */
.day1-text {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #786e72;
}

/* line 75, E:/pottery/sass/_text.sass */
.day1-text1 {
  font-size: 4.8rem;
  font-family: 'Ashley';
  color: #CEC7B2;
  margin: 4.8rem 0;
}

/* line 81, E:/pottery/sass/_text.sass */
.day1-text2 {
  font-size: 1.6rem;
  max-width: 24rem;
  margin: 4.8rem 0;
}

/* line 85, E:/pottery/sass/_text.sass */
.day1-text3 {
  font-size: 1.6rem;
  max-width: 34rem;
  margin: 4.8rem 0;
}

/* line 90, E:/pottery/sass/_text.sass */
.whom-top-textbox {
  display: flex;
  font-size: 1.6rem;
}

/* line 95, E:/pottery/sass/_text.sass */
.whom-top-textbox_1 {
  margin-right: 2rem;
  width: 38%;
}

/* line 98, E:/pottery/sass/_text.sass */
.whom-top-textbox_1 p {
  margin: 0;
  padding: 0;
}

/* line 101, E:/pottery/sass/_text.sass */
.whom-top-textbox_2 {
  width: 30%;
}

/* line 103, E:/pottery/sass/_text.sass */
.whom-top-textbox_2 p {
  margin: 0;
  padding: 0;
}

/* line 1, E:/pottery/sass/_buttons.sass */
.reg1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2F2C22;
  background: #EBD7B2;
  width: 18rem;
  font-size: 1.6rem;
  height: 4rem;
}

/* line 10, E:/pottery/sass/_buttons.sass */
.reg2 {
  color: #F2F1EE;
  background: #52553A;
}

/* line 14, E:/pottery/sass/_buttons.sass */
.menu__btn {
  display: none;
}

/* line 17, E:/pottery/sass/_buttons.sass */
.lang {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

/* line 1, E:/pottery/sass/_img.sass */
.logo {
  display: flex;
  align-items: center;
  width: 18rem;
  height: 5rem;
}

/* line 6, E:/pottery/sass/_img.sass */
.logo-footer {
  margin-bottom: 2rem;
}

/* line 9, E:/pottery/sass/_img.sass */
.right-img1 {
  height: 60rem;
  border-radius: 154px  0 154px 0;
  margin-right: 1rem;
}

/* line 13, E:/pottery/sass/_img.sass */
.right-img2 {
  height: 48rem;
  border-radius: 0 154px  0 154px;
}

/* line 16, E:/pottery/sass/_img.sass */
.img4 {
  margin: 3rem 4rem 6rem 32rem;
}

/* line 18, E:/pottery/sass/_img.sass */
.img5 {
  position: absolute;
  top: 13rem;
  right: 0;
  height: 47.8rem;
  border-bottom-left-radius: 5rem;
}

/* line 24, E:/pottery/sass/_img.sass */
.img6 {
  position: absolute;
  top: 13rem;
  height: 62.3rem;
  left: 0;
  border-bottom-right-radius: 20.2rem;
}

/* line 30, E:/pottery/sass/_img.sass */
.img7 {
  position: absolute;
  top: 21.8rem;
  right: -2;
  border-top-left-radius: 150px;
  width: 100%;
}

/* line 37, E:/pottery/sass/_img.sass */
.img11 {
  position: absolute;
  top: 12rem;
  right: 0;
  border-top-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

@media (max-width: 1260px) {
  /* line 2, E:/pottery/sass/_adaptive.sass */
  .main-title {
    font-size: 5rem;
  }
}

@media (max-width: 1100px) {
  /* line 6, E:/pottery/sass/_adaptive.sass */
  .menu__list {
    padding: 0 0 0 2rem;
  }
  /* line 8, E:/pottery/sass/_adaptive.sass */
  .header {
    margin: 0 0 0 0;
  }
  /* line 10, E:/pottery/sass/_adaptive.sass */
  .wrapper-left {
    padding-left: 1rem;
  }
  /* line 12, E:/pottery/sass/_adaptive.sass */
  .wrapper__left-img {
    width: 40rem;
  }
}

/* line 9, E:/pottery/sass/style.sass */
*, ::after, ::befor {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 15, E:/pottery/sass/style.sass */
html {
  font-size: 62.5%;
}

/* line 19, E:/pottery/sass/style.sass */
body {
  font-family: 'Roboto';
  background: #41442C;
  color: #fff;
  padding: 40px 92px;
  margin: 0 auto;
}

/* line 26, E:/pottery/sass/style.sass */
a {
  text-decoration: none;
  color: #F2F1EE;
}

/* line 30, E:/pottery/sass/style.sass */
.container {
  box-sizing: border-box;
  max-width: 1366px;
  margin: 0 auto;
}

/* line 35, E:/pottery/sass/style.sass */
.header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 4rem 9.3rem;
}

/* line 40, E:/pottery/sass/style.sass */
.menu__list {
  display: flex;
  gap: 2rem;
  font-size: 1.6rem;
}

/* line 44, E:/pottery/sass/style.sass */
.menu__list-item {
  list-style-type: none;
}

/* line 49, E:/pottery/sass/style.sass */
.wrapper {
  display: flex;
  height: 62rem;
  box-sizing: border-box;
  border-bottom: 1px solid #786e72;
}

/* line 55, E:/pottery/sass/style.sass */
.wrapper-left {
  width: 50%;
  box-sizing: border-box;
  padding-left: 3rem;
  position: relative;
}

/* line 61, E:/pottery/sass/style.sass */
.wrapper-right {
  box-sizing: border-box;
  position: relative;
}

/* line 64, E:/pottery/sass/style.sass */
.wrapper-right-box {
  display: flex;
  align-items: end;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 70, E:/pottery/sass/style.sass */
.wrapper__left-p {
  width: 70%;
  padding: 0 0 2rem 0;
}

/* line 74, E:/pottery/sass/style.sass */
.wrapper__left-img {
  border-radius: 0 154px 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 81, E:/pottery/sass/style.sass */
.about {
  position: relative;
  height: 71rem;
}

/* line 85, E:/pottery/sass/style.sass */
.about-top {
  display: flex;
  height: 30%;
}

/* line 88, E:/pottery/sass/style.sass */
.about__top-left {
  width: 50%;
  height: 100%;
  border-bottom: 1px solid #786e72;
}

/* line 93, E:/pottery/sass/style.sass */
.about__top-right {
  width: 50%;
  height: 100%;
  border-bottom: 1px solid #786e72;
  border-left: 1px solid #786e72;
}

/* line 99, E:/pottery/sass/style.sass */
.about-wrapper__middlel {
  display: flex;
  height: 55%;
  height: 43rem;
  border-bottom: 1px solid #786e72;
}

/* line 104, E:/pottery/sass/style.sass */
.about__middlel-left {
  width: 50%;
  height: 100%;
  border-right: 1px solid #786e72;
}

/* line 108, E:/pottery/sass/style.sass */
.about__middlel-right {
  display: flex;
  width: 50%;
  height: 100%;
}

/* line 117, E:/pottery/sass/style.sass */
.about__middlel-right1 {
  height: 100%;
  width: 35%;
  border-right: 1px solid #786e72;
}

/* line 122, E:/pottery/sass/style.sass */
.about__middlel-right2 {
  height: 100%;
  width: 65%;
}

/* line 129, E:/pottery/sass/style.sass */
.about__bottom {
  box-sizing: border-box;
  height: 15%;
  max-width: 1366px;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.6rem;
  color: #CEC7B2;
  border-bottom: 1px solid #786e72;
}

/* line 141, E:/pottery/sass/style.sass */
.about__bottom-box1 {
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  padding: 1rem   8rem 0 36rem;
  border-right: 1px solid #786e72;
}

/* line 149, E:/pottery/sass/style.sass */
.about__bottom-box2 {
  box-sizing: border-box;
  height: 100%;
  width: 17.5%;
  padding: 1rem 0;
}

/* line 155, E:/pottery/sass/style.sass */
.about__bottom-box3 {
  box-sizing: border-box;
  height: 100%;
  width: 32.5%;
  padding: 1rem 0 0 1rem;
  border-left: 1px solid #786e72;
}

/* line 164, E:/pottery/sass/style.sass */
.third {
  max-height: 100rem;
}

/* line 166, E:/pottery/sass/style.sass */
.third-wrapper {
  display: flex;
}

/* line 169, E:/pottery/sass/style.sass */
.third__wrapper-left {
  width: 67.51%;
}

/* line 174, E:/pottery/sass/style.sass */
.third__wrapper-right {
  width: 32%;
  border-left: 1px solid #786e72;
  position: relative;
}

/* line 183, E:/pottery/sass/style.sass */
.third__photo-box {
  width: 100%;
  margin: 8rem 0;
}

/* line 187, E:/pottery/sass/style.sass */
.thir__photo-item {
  height: 28.9rem;
}

/* line 192, E:/pottery/sass/style.sass */
.third-end {
  display: flex;
}

/* line 195, E:/pottery/sass/style.sass */
.third__end-left {
  width: 67.51%;
  border-bottom: 1px solid #786e72;
}

/* line 199, E:/pottery/sass/style.sass */
.third__end-right {
  width: 32%;
  border-bottom: 1px solid #786e72;
  border-left: 1px solid #786e72;
}

/* line 205, E:/pottery/sass/style.sass */
.advantage__bottom {
  display: flex;
  font-size: 1.6rem;
  border-bottom: 1px solid #786e72;
  box-sizing: border-box;
}

/* line 212, E:/pottery/sass/style.sass */
.advantage-box {
  width: 20%;
  border-right: 1px solid #786e72;
  box-sizing: border-box;
  padding: 3rem;
}

/* line 219, E:/pottery/sass/style.sass */
.advantage-box:last-child {
  width: 33.62%;
  border-right: none;
}

/* line 222, E:/pottery/sass/style.sass */
.advantage-box:first-child {
  width: 30%;
  border-right: 1px solid #786e72;
}

/* line 225, E:/pottery/sass/style.sass */
.advantage-box span {
  font-size: 4.8rem;
  font-family: 'Ashley';
  color: #CEC7B2;
}

/* line 230, E:/pottery/sass/style.sass */
.whom {
  position: relative;
}

/* line 232, E:/pottery/sass/style.sass */
.whom-top {
  display: flex;
  border-bottom: 1px solid #786e72;
  height: 50rem;
}

/* line 236, E:/pottery/sass/style.sass */
.whom-bot {
  display: flex;
  height: 15rem;
}

/* line 239, E:/pottery/sass/style.sass */
.side-left {
  width: 67.5%;
  border-right: 1px solid #786e72;
}

/* line 242, E:/pottery/sass/style.sass */
.side-right {
  height: 50rem;
}

/* line 244, E:/pottery/sass/style.sass */
.tariff {
  position: relative;
  display: flex;
  height: 66rem;
}

/* line 248, E:/pottery/sass/style.sass */
.tariff__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

/* line 258, E:/pottery/sass/style.sass */
.card-box {
  width: 34rem;
  height: 59rem;
  border: 2px solid #F2F1EE;
  text-align: center;
  background: #41442C;
}

/* line 264, E:/pottery/sass/style.sass */
.card-box__list {
  list-style-type: none;
  font-size: 1.8rem;
  font-weight: regular;
  margin-bottom: 4rem;
}

/* line 269, E:/pottery/sass/style.sass */
.card-box__list li {
  margin-bottom: 1rem;
  text-align: left;
}

/* line 272, E:/pottery/sass/style.sass */
.price {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 4rem;
}

/* line 276, E:/pottery/sass/style.sass */
.card-box div {
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

/* line 279, E:/pottery/sass/style.sass */
.card-box2 {
  border: none;
  background: #D4CCBF;
  color: #2F2C22;
}

/* line 283, E:/pottery/sass/style.sass */
.footer {
  height: 20rem;
  display: flex;
  margin: 0 2.4rem 3.2rem 0;
}

/* line 287, E:/pottery/sass/style.sass */
.footer_left {
  display: flex;
  margin: 3rem 42rem 2rem 2rem;
}

/* line 290, E:/pottery/sass/style.sass */
.footer_left_l {
  margin-right: 22rem;
}

/* line 292, E:/pottery/sass/style.sass */
.footer_right {
  margin: 3rem 2rem;
}

/* line 294, E:/pottery/sass/style.sass */
.menu__list-footer {
  font-size: 1.6rem;
  margin: 0;
}

/* line 297, E:/pottery/sass/style.sass */
.menu__list-footer li {
  margin-bottom: 1rem;
}

/* line 299, E:/pottery/sass/style.sass */
.social {
  margin-bottom: 3rem;
}

@media (max-width: 1260px) {
  /* line 2, E:/pottery/sass/_adaptive.sass */
  .main-title {
    font-size: 5rem;
  }
}

@media (max-width: 1100px) {
  /* line 6, E:/pottery/sass/_adaptive.sass */
  .menu__list {
    padding: 0 0 0 2rem;
  }
  /* line 8, E:/pottery/sass/_adaptive.sass */
  .header {
    margin: 0 0 0 0;
  }
  /* line 10, E:/pottery/sass/_adaptive.sass */
  .wrapper-left {
    padding-left: 1rem;
  }
  /* line 12, E:/pottery/sass/_adaptive.sass */
  .wrapper__left-img {
    width: 40rem;
  }
}

/*# sourceMappingURL=style.css.map */